@font-face {
  font-family: YoungSerif-Regular;
  src: url(YoungSerif-Regular.ttf);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #010100;
  background-color: #F0EAD6;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/homePizza.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto 150%;
  color: #F0EAD6;
  font-family: YoungSerif-Regular;
}
